<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tasks</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../static/tasks.css">
  
</head>

<body>

  
  <div id="AddTask" class="header">

    <div class="grid-container-element">
      <div class="grid-child-element">Hello {{.Name}}!</div>
      <div class="grid-child-element-right"><button onclick="logout()" class="logoutBtn">Logout</button></div>
  </div>

    <h2>My To Do List</h2>
    <input type="text" id="myInput" placeholder="Task Name">
    <span onclick="newElement()" class="addBtn">Add</span>
  </div>

  <ul id="taskList">
    {{range .Tasks}}
      {{if .IsDone}}
        <li class="checked" id = {{.ID}}>{{.TaskName}}<span class="edit"><i class="bi bi-pencil-square"></i></span><span class="close"><i class="bi bi-trash"></i></span></li>
      {{else}}
        <li id = {{.ID}}>{{.TaskName}}<span class="close">x</span></li>
      {{end}}
    {{end}}
  </ul>
</body>
</html>
<script type = "text/javascript" src = "resources/JS/tasks.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
