<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Tasks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../static/tasks.css">
  
</head>

<body>

  
  <div id="AddTask" class="header">

    <div class="grid-container-element">
      <div class="grid-child-element">Hello {{.Name}}!</div>
      <div class="grid-child-element-right"><button onclick="logout()" class="logoutBtn">Logout</button></div>
  </div>

    <h2>My To Do List</h2>
    <input type="text" id="myInput" placeholder="Task Name">
    <span onclick="newElement()" class="addBtn">Add</span>
  </div>

  <ul id="taskList">
    {{range .Tasks}}
      {{if .IsDone}}
        <li class="checked" id = {{.ID}}>{{.TaskName}}<span class="close">x</span></li>
      {{else}}
        <li id = {{.ID}}>{{.TaskName}}<span class="close">x</span></li>
      {{end}}
    {{end}}
  </ul>
</body>
</html>
<script type = "text/javascript" src = "../static/tasks.js"></script>